{%extends 'layout_2.html'%}

{%block content%}


{%import '_macros.html' as macro%}

<form action="" method="post" novalidate>
    {{form.csrf_token}}
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    {{macro.camposNuevos(form.nombre)}}
    {{macro.camposNuevos(form.apellido)}}
    {{macro.camposNuevos(form.correo)}}
    {{macro.camposNuevos(form.matricula)}}
    <input type="submit" name="btn1" value="'guardar" class="btn btn-primary">
</form>

<h2>Matricula:{{mat}}</h2>
<h2>nombre:{{nom}}</h2>
<h2>apellido:{{ape}}</h2>
<h2>correo:{{correo}}</h2>


{%endblock%}