{% extends 'base_2.html' %}

{% block contenido %}

{% import '_macros_zodiaco.html' as macros %}
 <div class="container">
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}  
        <h2>Calcula tu signo zodiacal</h2>
    
        {{ macros.render_zodiaco(form.nombre) }}
        {{ macros.render_zodiaco(form.apellido) }}
        {{ macros.render_zodiaco(form.apellidoM) }}
        {{ macros.render_zodiaco(form.anio) }}
        {{ macros.render_zodiaco(form.dia) }}
        {{ macros.render_zodiaco(form.mes) }}
    
        <div class="radio-group">
            <label for="sexo">Sexo:</label>
            <div>
                <input type="radio" id="hombre" name="sexo" value="1" required>
                <label for="hombre">Hombre</label>
            </div>
            <div>
                <input type="radio" id="mujer" name="sexo" value="2" required>
                <label for="mujer">Mujer</label>
            </div>
        </div>
    
        <button type="submit" name="accion" value="accionar">Calcular</button>
    </form>

    <div class="result">
        {% if nombre %}
        <h2>Hola, <strong>{{ nombre }} {{ apellido }}</strong></h2>
        <p>Tienes <strong>{{ edad }}</strong> años.</p>
        <p>Tu signo zodiacal chino es <strong>{{ signo }}</strong>.</p>
        <img src="{{ url_for('static', filename='img/img/' + signo + '.jpg') }}" alt="{{ signo }}">
        {% endif %}
    </div>
</div>
{% endblock %}
